.model{
    width: auto;
    height: auto;
    background-color: white;
    margin: auto;
    opacity: 90%;
    border-radius: 10px;
    animation: fadeInUp;
    animation-duration: 1s;
    padding-left: 10px;
    padding-right: 10px;
}
